body {
    text-align: center;
}

.search-bar {
    border: none
}

input[type="text"] {
    border: 1px solid #0086b3;
}

.search-context {
    border-color: black;
    border-width: 1px;
}

ul.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.nav-item.nav-left {
    float: left;
}

li.nav-item.nav-right {
    float: right;
}

li.nav-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.nav-item a:hover {
    background-color: #111;
}

table {
    border: solid;
}